body {
    background-color: rgba(64, 224, 208, 1);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial;
    font-size: 20px;
    margin: 0;
    padding: 0;
}

header {
    background-color: black;
    color: peachpuff;
    display: flex;
    font-size: 25px;
    margin: 0px;
    padding: 0px;
}

section {
    color: pink;
}

button {
    background-color: peachpuff;
    border-radius: 5px;
    margin-left: 20px;
    margin-top: 20px;
}

.button-centered {
    display: block;
    text-align: center;
}

.image-container {
    display: block;
    text-align: center;
}

.no-take-backs{
    font-size: 20px;
}

.text-centered {
    display: block;
    text-align: center;
}

.Yippie {
    font-size: 50px;
}