body {
    background-color: rgba(64, 224, 208, 1);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial;
    font-size: 20px;
    margin: 0;
    padding: 0;
}

header {
    background-color: black;
    color: peachpuff;
    display: flex;
    font-size: 25px;
    margin: 0px;
    padding: 0px;
}

section {
    color: pink;
}

button {
    background-color: peachpuff;
    border-radius: 5px;
    margin-left: 20px;
    margin-top: 20px;
}

.button-centered {
    display: block;
    text-align: center;
}

/*This is for the checkbox*/
.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    user-select: none;
    -moz-user-select: none;
    z-index: 1;
}

.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    background-color: #eee;
    height: 25px;
    left: 400px;
    position: relative;
    top: 0px;
    width: 25px;
    z-index: 0;
}

.container:hover input ~ .checkmark {
    background-color: #ccc;
}

.container input:checked ~ .checkmark {
    background-color: #2196F3;
}

.checkmark::after {
    content: "";
    position: absolute;
    display: none;
}

.container input:checked ~ .checkmark::after {
    display: block;
}

.container .checkmark::after {
    left: 9px;
    top: 5px;
    height: 10px;
    width: 5px;
    border: solid white;
    border-width: 0px 3px 3px 0px;
    transform: rotate(45deg);
}

.image-container {
    display: block;
    text-align: center;
}

.no-take-backs{
    font-size: 20px;
}

.text-centered {
    display: block;
    text-align: center;
}

.Yippie {
    font-size: 50px;
}