body {
    background-color: rgba(0, 247, 255, 0.493);
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0;
    padding: 0;
}

header {
    color: red;
    margin: 20px 50px 50px 100px;
    display: flex;
}

section {
    color: pink;
}

button {
    background-color: peachpuff;
    
}

button {
    margin-left: 20px;
    margin-top: 20px;
}

.button-centered {
    display: block;
    text-align: center;
}

.image-container {
    display: block;
    text-align: center;
}

.text-centered {
    display: block;
    text-align: center;
}